* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.repository-item {
    padding: 10px;
    padding-bottom: 5px;
}

.repository-item::after {
    content: "";
    display: block;
    margin: auto;
    width: 100%;
    margin-top: 10px;
    border-bottom: 1px solid black;
}

.repository-star {
    display: inline;
    margin-right: 10px;
}

.repository-language {
    display: inline;
    margin-right: 10px;
}

.repository-license {
    display: inline;
    margin-right: 10px;
}